global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "imperium-controller"
    static_configs:
      - targets: ["host.docker.internal:8000"]
    metrics_path: "/metrics"

  - job_name: "iot-nodes"
    static_configs:
      - targets: ["iot-node-1:8001"]
    metrics_path: "/metrics"
